.full-post {
    width: 80%;
    margin: 0 auto 20px auto;
    border: 1px solid #eeeeee;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    padding: 0 20px 20px 20px;
}

.full-post p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-block {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.edit-block a {
    font-size: 16px;
    width: 100px;
    display: block;
    height: 40px;
    text-decoration: none;
    line-height: 40px;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.edit-block a:hover {
    background: #4CAF50;
    color: #ffffff;
}


.edit-block button {
    background: #ffffff;
    font-size: 16px;
    width: 100px;
    display: block;
    height: 44px;
    line-height: 40px;
    color: #f44336;
    border: 2px solid #f44336;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.edit-block button:hover {
    background: #f44336;
    color: #ffffff;
}
