.short-post {
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #eeeeee;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.short-post p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.short-post span {
    color: grey;
    font-size: 14px;
}

.short-post a {
    float: right;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #4CAF50;
    text-decoration: none;
    transition-duration: 0.4s;
    font-weight: bold;
}

.short-post a:hover {
    background-color: white;
    color: #4CAF50;
}